<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href='/img/weather.jpg'>
    <title>About</title>
    <link rel = "stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Prashanta Acharjee</p>
        <h2>{{name}}</h2>
        <img src ="/img/DSC_9535 copy.jpg" class="portrait">

</div>
{{>footer}}
</body>

</html>